
       <!DOCTYPE html>
       <html lang="en">
       <head>
           <meta charset="UTF-8">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <title>Blog App</title>
           <link rel="stylesheet" href="/styles/layout.css">
           <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ojuju:wght@200..800&family=Poppins:wght@200&display=swap" rel="stylesheet">
       </head>
       <body>
       

        <main>
           <nav>
       
               <a class="logo" href="#">Blog App</a>
               <ul class="list">
                  

                <li>
                    <a href="/">Home</a>
                </li>
                   <li>
                       <a href="/create">Add Post</a>
                   </li>
                   <li>
                       <a href="/allPosts">All Posts</a>
                   </li>
                   <li>
                       <a href="/update">Update</a>
                   </li>
                   <li>
                       <a href="/delete">Delete</a>
                   </li>
               </ul>
           </nav>
       
    
